/* TABLE OF CONTENTS
---------------------
#0 - CSS Variables
    Color Palette
    Document Fonts
---------------------
#1 - Universal Document Properties
    HTML, Body
    h1, h2
    .underline
    a
    .document-container
--------------------
#2 - Navigation
--------------------
#3 - Header
    Header Logos
--------------------
#4 - Automatic Data
--------------------
#5 - Presentations
--------------------
#6 - Track Presentation Trends
--------------------
#7 - Brand Guidelines
    Slideshow
--------------------
#8 - Craft Stories
--------------------
#9 - Request a Demo CTA
--------------------
#10 - Footer
--------------------
#11 - Buttons
--------------------

/* #0 - Breakpoint ID */
.breakpoint {
    left: 0;
    top: 0;
    width: 100px;
    height: 30px;
    background: #ffffff;
    color: #000;
    position: fixed;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    z-index: 2;
    opacity: 0.5;
}

.breakpoint:after {
    content: "1200+"
}

@media only screen and (max-width: 1200px) {
    .breakpoint:after {
        content: "1200 to 961"
    }
}

@media only screen and (max-width: 960px) {
    .breakpoint:after {
        content: "960 to 769"
    }
}

@media only screen and (max-width: 768px) {
    .breakpoint:after {
        content: "768 to 551"
    }
}

@media only screen and (max-width: 550px) {
    .breakpoint:after {
        content: "550 to 380"
    }
}

@media only screen and (max-width: 380px) {
    .breakpoint:after {
        content: "380-"
    }
}

/* #0 - CSS Variables */
/* WebFont Package Licensed to Matik */

/* RM Neue Regular */
@font-face {
	font-family: RM Neue;
	src:	url('/fonts/eot/RM Neue Regular.eot'); /* IE9 Compat Modes */
	src:	url('/fonts/eot/RM Neue Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('/fonts/woff2/RM Neue Regular.woff2') format('woff2'), /* Super Modern Browsers */
			url('/fonts/woff/RM Neue Regular.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

/* RM Neue Semibold */
@font-face {
	font-family: RM Neue;
	src:	url('/fonts/eot/RM Neue Semibold.eot'); /* IE9 Compat Modes */
	src:	url('/fonts/eot/RM Neue Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('/fonts/woff2/RM Neue Semibold.woff2') format('woff2'), /* Super Modern Browsers */
			url('/fonts/woff/RM Neue Semibold.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

/* RM Neue Bold */
@font-face {
	font-family: RM Neue;
	src:	url('/fonts/eot/RM Neue Bold.eot'); /* IE9 Compat Modes */
	src:	url('/fonts/eot/RM Neue Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('/fonts/woff2/RM Neue Bold.woff2') format('woff2'), /* Super Modern Browsers */
			url('/fonts/woff/RM Neue Bold.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

/* RM Neue Regular Italic */
@font-face {
	font-family: RM Neue;
	src:	url('/fonts/eot/RM Neue Regular Italic.eot'); /* IE9 Compat Modes */
	src:	url('/fonts/eot/RM Neue Regular Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('/fonts/woff2/RM Neue Regular Italic.woff2') format('woff2'), /* Super Modern Browsers */
			url('/fonts/woff/RM Neue Regular Italic.woff') format('woff'); /* Pretty Modern Browsers */
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

:root {
    /* Color Palette */
    --bright-green: #20DFAC;
    --black: #001F35;
    --borders: rgba(0, 0, 0, 0.05);
    --light-grey: #F3F6F9;
    --background-grey: #F7F9FB;
    --text: #52606F;
    --labels: #6A7077;
    --blue: #2687D0;
    --yellow: #FFD595;
    --white: #FFFFFF;
    --lighter-dark: rgba(49, 74, 92, 0.5);

    /* Document Fonts */
    --font: "RM Neue", sans-serif;
    --heavy: 700;
    --regular: 400;
}

/* #1- Universal Document Properties */

html,
body {
    font-family: var(--font);
    font-style: normal;
    font-weight: var(--regular);
    color: var(--black);
    font-size: 18px;
    line-height: 140%;
    width: 100%;
    height: 100%;
}

h1,
h2 {
    font-family: var(--font);
    font-style: normal;
    font-weight: var(--heavy);
    font-size: 40px;
    line-height: 110%;
}

p {
    color: var(--text)
}

@media only screen and (max-width: 550px) {

    h1,
    h2 {
        font-size: 35px;
    }

    html,
    body {
        font-size: 20px
    }
}

.underline {
    /* text-decoration: underline solid var(--borders);
    text-decoration-thickness: 8px; */
    box-shadow: inset 0 -8px var(--borders);
}

.green-underline {
    box-shadow: inset 0 -8px var(--bright-green);
}

a:link,
a:visited,
a:hover,
a:focus,
a:active {
    text-decoration: none
}

.display-none {
    display: none;
}

.document-container {
    width: 1200px;
    margin: auto;
    padding: 0
}

@media only screen and (max-width: 1200px) {
    .document-container {
        width: 960px;
    }
}

@media only screen and (max-width: 960px) {
    .document-container {
        width: 768px;
    }
}

@media only screen and (max-width: 768px) {
    .document-container {
        width: 550px
    }
}

@media only screen and (max-width: 550px) {
    .document-container {
        width: 380px
    }
}

@media only screen and (max-width: 380px) {
    .document-container {
        width: 320px
    }
}

@media only screen and (max-width: 320px) {
    .document-container {
        width: 300px
    }
}

/* #2 - Navigation */
nav {
    width: 100%;
    background: var(--white);
    height: 130px;
}

.matik-logo {
    width: 142px;
    height: 40px;
    background: url("../images/header-logo-black.svg") no-repeat center;
    padding-top: 45px;
    padding-bottom: 45px;
    float: left
}

.cta-form-container {
    float: right;
    margin-top: 45px;
}

.cta-form-container form {
    display: flex
}

#cta-waitlist {
    order: 1;
    width: 280px;
    height: 46px;
    border: 1px solid #DFE5EC;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 18px;
    line-height: 22px;
    color: var(--text);
    margin-right: 10px;
    padding-left: 10px
}

#waitlist-submit {
    order: 2
}

@media only screen and (max-width: 768px) {
    #cta-waitlist {
        width: 200px;
        font-size: 16px;
    }
}

/* #3 - Header */
#header {
    width: 100%;
    background-color: var(--white);
    padding: 100px 0
}

.header-container {
    width: 100%;
    display: flex;
}

.header-content-container {
    order: 1;
    padding-top: 38px;
    width: 600px;
    height: 362px;
    position: relative
}

.header-video-container {
    order: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 670px;
    height: 442px;
    border-radius: 16px;
}

.header-video {
    display: block;
    max-width: 100%;
    object-fit: contain;
}

.header-video-container .play-button {
    position: absolute;
    display: flex;
    z-index: 999;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 80px;
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

.header-video-container .play-button:hover {
    transform: scale(1.2);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 0.3s ease;
}

.header-video-container .play-button img {
    width: 20px;
    left: 4px;
}

.header-video-container:active {
    transition: all 0.3s ease;
}

.checkmark-content-container {
    margin-top: 32px
}

.checkmark-content {
    display: flex;
    align-items: center;
}

.checkmark {
    order: 1;
    width: 24px;
    height: 24px;
    border-radius: 24px;
    border: 1px solid #f7f9fb;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    background: url('../images/Icons/Checkmark.svg') no-repeat center
}

.header-strong {
    order: 2;
    font-weight: var(--heavy);
    padding-left: 10px;
}

.header-non-strong {
    order: 3;
    padding-left: 4px;
}

.works-with-container {
    bottom: 0;
    position: absolute
}

.works-with-container p {
    color: var(--text);
    font-size: 18px;
    line-height: 140%;
    margin-bottom: 10px
}

.works-with-brands {
    display: flex
}

.works-with-google {
    order: 1;
    margin-right: 15px;
}

.works-with-powerpoint {
    order: 2
}

.works-with-google,
.works-with-powerpoint {
    width: 170px;
    height: 52px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center
}

.works-with-google span, .works-with-powerpoint span {
    color: var(--text);
    font-size: 16px;
    line-height: 140%;
    order: 2;
    margin-left: 8px
}

.google-logo {
    width: 32px;
    height: 28px;
    background: url('../images/Icons/google-drive-logo.svg');
    order: 1
}

.powerpoint-logo {
    width: 34px;
    height: 32px;
    background: url('../images/Icons/powerpoint-logo.svg');
    order: 1
}

/* Header Logos */
    #header-logos {
        width: 100%;
        background: var(--light-grey);
        padding: 60px 0;
    }

    .header-logos-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .glassdoor-logo-header {
        order: 1;
        width: 142px;
        height: 32px;
        background: url('../images/Icons/glassdoor.svg');
        opacity: 0.5;
    }

    .hover-logo-header {
        order: 2;
        width: 124px;
        height: 30px;
        background: url('../images/Icons/hoverlogo.svg');
        opacity: 0.5;
    }

    .handshake-logo-header {
        order: 3;
        width: 172px;
        height: 26px;
        background: url('../images/Icons/handshake.svg');
        opacity: 0.5;
    }

    .indio-logo-header {
        order: 4;
        width: 80px;
        height: 24px;
        background: url('../images/Icons/indio.svg');
        opacity: 0.5;
    }

    .envoy-logo-header {
        order: 5;
        width: 106px;
        height: 40px;
        background: url('../images/Icons/envoy.svg');
        opacity: 0.5;
    }

    .keeptruckin-logo-header {
        order: 6;
        width: 178px;
        height: 30px;
        background: url('../images/Icons/keeptruckin.svg');
        opacity: 0.5;
    }

/* #4 Automatic Data */
#automatic-data {
    width: 100%;
    background-color: var(--white);
}

.automatic-data-container {
    width: 100%;
    display: flex;
    padding: 75px 0;
    justify-content: space-between;
    align-items: center
}

.automatic-data-graphics {
    order: 1;
    background: url('../images/copying-pasting-graphic.svg');
    background-repeat: no-repeat;
    background-position: center;
    height: 436px;
    width: 552px
}

.automatic-data-copy {
    order: 2
}

.automatic-data-copy h2 {
    width: 450px;
    margin-bottom: 25px;
}

.automatic-data-copy p {
    color: var(--text);
    font-size: 18px;
    line-height: 24px;
    width: 450px
}

/* #5 Presentations */
#generate-presentations {
    width: 100%;
    background-color: var(--background-grey)
}

.generate-presentations-container {
    width: 100%;
    display: flex;
    padding: 55px 0;
    align-items: center;
    justify-content: space-between
}

.generate-presentations-copy {
    order: 1;
    width: 575px;
}

.generate-presentations-copy h2{
    padding-bottom: 20px
}

.generate-presentations-graphics {
    order: 2;
    background: url('../images/presentations-graphic.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 486px;
    height: 383px;
}

/* #6 - Track Presentation Trends */
#presentation-trends {
    width: 100%;
    background-color: var(--white)
}

.trends-container {
    width: 100%;
    display: flex;
    padding: 100px 0;
    align-items: center;
    justify-content: space-between
}

.trends-graphics {
    order: 1;
    background: url("../images/trends-graphic.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 570px;
    height: 362px
}

.trends-copy {
    order: 2;
    width: 575px
}

.trends-copy h2 {
    padding-bottom: 20px
}

/* #7 - Brand Guidelines */
#brand-guidelines {
    width: 100%;
    background-color: var(--background-grey)
}

.guidelines-container {
    width: 100%;
    display: flex;
    padding: 100px 0;
    align-items: center;
    justify-content: space-between
}

.guidelines-copy {
    order: 1;
    width: 500px;
    height: 350px;
    margin-top: 75px;
    position: relative
}

.guidelines-copy h2 {
    padding-bottom: 20px
}

.guidelines-graphics {
    order: 2;
    width: 475px;
    height: 300px;
}

/* Slide Show */

.slides-container {
    position: relative;
}

#slide-one,
#slide-two,
#slide-three {
    width: 430px;
    height: 245px;
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.05));
    border-radius: 4px;
}

#slide-one {
    position: absolute;
    z-index: 103;
    top: 40px;
    left: 40px
}

#slide-two {
    position: absolute;
    z-index: 102;
    top: 20px;
    left: 20px
}

#slide-three {
    position: absolute;
    z-index: 101;
    top: 0;
    left: 0
}

.acme-corp-screen {
    background: url("../images/acme-corp-screen.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.your-team-screen {
    background: url("../images/your-team-screen.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.tickets-screen {
    background: url("../images/tickets-screen.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px
}

#button-one,
#button-two,
#button-three {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    cursor: pointer
}

#button-one {
    order: 1;
    margin: 10px
}

#button-two {
    order: 2;
    margin: 10px
}

#button-three {
    order: 3;
    margin: 10px
}

.inactive-blue {
    background-color: #2687D0;
    opacity: 0.2
}

.active-blue {
    background-color: #2687D0;
}

.inactive-purple {
    background-color: #312170;
    opacity: 0.2
}

.active-purple {
    background-color: #312170;
}

.inactive-green {
    background-color: #00BD4C;
    opacity: 0.2
}

.active-green {
    background-color: #00BD4C;
}

.inactive-blue:hover,
.inactive-purple:hover,
.inactive-green:hover {
    opacity: 1;
    transform: scale(1.2);
    transition: all 0.3s ease;
}

.active-blue:hover,
.active-purple:hover,
.active-green:hover {
    opacity: 0.2;
    transform: scale(1.2);
    transition: all 0.3s ease;
}

/* #8 - Craft Stories */
#craft-stories {
    width: 100%;
    background-color: var(--white)
}

.stories-container {
    width: 100%;
    display: flex;
    padding: 100px 0;
    align-items: center;
    justify-content: space-between
}

.stories-graphics {
    order: 1;
    background: url("../images/craft-stories-graphic.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 700px;
    height: 250px
}

.stories-copy {
    order: 2;
    width: 600px
}

.stories-copy h2 {
    padding-bottom: 20px
}

/* #9 - Request a Demo CTA */

.demo-cta-container {
    width: 100%;
    background: var(--black);
    padding: 100px 0
}

.demo-cta-content-container {
    width: 550px;
    margin: auto;
    text-align: center;
}

.demo-cta-h2 {
    color: var(--white);
}

.demo-cta-content-container p {
    font-size: 24px;
    line-height: 140%;
    color: var(--white);
    opacity: 0.6;
    padding: 8px 0 32px 0;
}

@media only screen and (max-width: 550px) {
    .demo-cta-content-container {
        width: 380px
    }

    .demo-cta-container {
        padding: 50px 0
    }
}

@media only screen and (max-width: 380px) {
    .demo-cta-content-container {
        width: 320px
    }
}

@media only screen and (max-width: 320px) {
    .demo-cta-content-container {
        width: 300px
    }
}

/* #10 - Footer */

#footer-nav {
    width: 100%;
    padding: 25px 0 50px 0;
    background: var(--black);
    margin: auto;
    text-align: center;
}

.footer-container {
    width: 1200px;
    margin: auto;
    display: flex;
}

.bottom-nav-item {
    display: inline-block;
    padding: 0 0 0 16px;
}

.bottom-nav-item a,
.bottom-nav-item a:link,
.bottom-nav-item a:visited,
.bottom-nav-item:active {
    color: var(--white);
    opacity: 0.5;
    font-size: 18px;
}

.bottom-nav-item a:hover,
.bottom-nav-item a:focus {
    color: var(--bright-green);
    opacity: 1;
}

.logo-nav {
    float: left;
    order: 1;
}

.bottom-center-nav {
    text-align: center;
    margin: auto;
    width: 500px;
    order: 2;
}

.bottom-right-nav {
    float: right;
    order: 3;
}

.copyright-container p {
    color: var(--labels);
    opacity: 0.5;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding-top: 40px
}

.footer-logo {
    background: url("../images/footer-logo\ -white.svg") no-repeat center;
    width: 125px;
    height: 35px;
    opacity: 0.6;
}

.footer-logo:hover,
.footer-logo:focus {
    opacity: 1.0
}

@media only screen and (max-width: 1200px) {
    .footer-container {
        width: 960px
    }
}

@media only screen and (max-width: 960px) {
    .footer-container {
        width: 768px
    }

    .bottom-center-nav {
        width: 400px
    }
}

@media only screen and (max-width: 768px) {
    .footer-container {
        width: 175px;
        flex-wrap: wrap;
        text-align: center
    }

    .bottom-center-nav {
        display: none
    }

    .logo-nav {
        float: none;
        padding-left: 8px
    }

    .bottom-right-nav {
        float: none
    }
}

/* #11 - Buttons */

.learn-more-btn,
.how-work-btn,
.demo-btn,
.waitlist-btn {
    text-align: center;
    line-height: 21.6px;
    border-radius: 4px;
    font-size: 18px;
    border: none;
    margin-right: 12px
}

.learn-more-btn {
    background-color: var(--bright-green);
    color: var(--black);
    width: 130px;
    height: 44px;
}

.demo-btn,
.waitlist-btn {
    background-color: var(--bright-green);
    color: var(--black);
    width: 170px;
    height: 44px;
}

.demo-btn:hover,
.demo-btn:focus,
.demo-btn:active,
.waitlist-btn:hover,
.waitlist-btn:focus,
.waitlist-btn:active {
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--bright-green);
}

.learn-more-btn:hover,
.learn-more-btn:focus,
.learn-more-btn:active {
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--bright-green);
}

.how-work-btn {
    background: rgba(0, 0, 0, 0.5) url('../images/play-icon.svg') no-repeat center left;
    color: var(--bright-green);
    width: 170px;
    height: 45px;
    padding-left: 25px;
}

.how-work-btn:hover,
.how-work-btn:focus {
    background: var(--bright-green) url('../images/play-icon-black.svg') no-repeat center left;
    color: var(--black);
}